{# User Profile Page #}
{% extends 'base.html' %}
{% from 'components/navigation.html' import top_nav, side_nav %}
{% block content %}
  {{ top_nav(current_user=current_user) }}
  <div class="flex flex-row bg-black min-h-screen pt-16">
    {{ side_nav() }}
    <div class="flex-1">
      <div class="main-layout">
        {% include 'components/filter_sidebar.html' %}
        <div class="user-profile">
          {% include 'components/user_card.html' with context %}
          {% include 'components/statistics_block.html' with context %}
          <div class="tabs">
            <ul class="tab-nav">
              <li><a href="#watchlist">Watchlist</a></li>
              <li><a href="#watched">Gesehene Filme</a></li>
              <li><a href="#ratings">Bewertungen</a></li>
              <li><a href="#comments">Kommentare</a></li>
            </ul>
            <div class="tab-content" id="watchlist">
              {% include 'components/watchlist_tab.html' with context %}
            </div>
            <div class="tab-content" id="watched">
              {% include 'components/watched_movies_tab.html' with context %}
            </div>
            <div class="tab-content" id="ratings">
              {% include 'components/ratings_tab.html' with context %}
            </div>
            <div class="tab-content" id="comments">
              {% include 'components/comments_tab.html' with context %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
